{% extends 'config/material/material_index.html'%}
{% load staticfiles %}

{% block container_fluid %}

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<form id="form_equipo" class="form-horizontal" action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}

                <div class="card-header card-text" data-background-color="blue">
                    <div class="card-header">
                        <h4 class="card-title"><b>AÑADIR MATERIAL</b></h4>
                    </div>                    
                </div>
                <div class="card-content">
                    {{form.as_p}}

                    {% comment %} <div class="form-group label-floating">
                        <label class="control-label" for="{{form.codigo.name}}">{{form.codigo.label}}</label>
                        {{form.codigo}}                        
                    </div> {% endcomment %}
                
                </div>
                
                




				

				<div class="card-footer text-center">
	                <button type="submit" class="btn btn-info btn-fill btn-lg">Guardar</button>
	            </div>
			</form>
		</div>
	</div>
</div>




{% endblock container_fluid %}

{% block aditional_scripts %}

<script type="text/javascript">
    function setFormValidation(id){
        $(id).validate({        
            errorPlacement: function(error, element) {          
                $(element).parent('div').addClass('has-error');           
                $(element).parent().siblings('legend').css({"color": "red"});
                $(error).css({"color": "red"});
                error.appendTo( element.parent() );
            },
        });
        $.extend($.validator.messages, {
        required: "este campo es requerido",    
        });
    }   
    
    setFormValidation('#form_equipo');
    
    
</script>

{% endblock aditional_scripts %}


