{% extends 'base_app.html'%}
{% load staticfiles %}

{% block config_equipo %}
    <li class="active">
        <a data-toggle="collapse" href="#configuracion">
            <i class="material-icons">settings</i>
            <p>Configuracion
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse in" id="configuracion">
            <ul class="nav">
                <li class="active">
                    <a href="{% url 'config:equipment_list' %}">Equipos</a>
                </li>                       
            </ul>
        </div>
    </li>
{% endblock config_equipo %} 


{% block container_fluid %}

<div class="row">

    <div class="col-md-12">
          
    </div>
</div>
{% endblock container_fluid %} 

